<%- include('partials/header.ejs'); %>

<body>
  <%- include('partials/header.ejs'); %>
  <body>
    <%- include('partials/navbar.ejs'); %>
    <div class="container my-5">
      <div class="card shadow border-info">
        <div class="card-header bg-info text-white">
          <h3 class="mb-0">Realizar Pergunta</h3>
        </div>
        <div class="card-body">
          <form method="POST" action="/guardarpergunta">
            <div class="mb-3">
              <label for="titulo" class="form-label">Título</label>
              <input
                type="text"
                id="titulo"
                placeholder="Título da sua pergunta"
                class="form-control"
                name="titulo"
                required
              />
            </div>
            <div class="mb-3">
              <label for="descricao" class="form-label">Descrição</label>
              <textarea
                id="descricao"
                placeholder="Detalhe sua pergunta"
                class="form-control"
                name="descricao"
                rows="3"
                required
              ></textarea>
            </div>
            <button type="submit" class="btn btn-info">Enviar</button>
          </form>
        </div>
      </div>
    </div>
  </body>
  <%- include('partials/footer.ejs'); %>
</body>
