<%- include('partials/header.ejs'); %>
<body>
 <%- include('partials/navbar.ejs'); %>
  <div class="container">
    <div class="card" id="formulario-pergunta">
      <div class="card-header">
        <h1>Realizar Pergunta</h1>
      </div>
      <div class="card-body">
        <form method="POST" action="/guardarpergunta">
          <label class="form-label">Título</label>
          <input
            type="text"
            placeholder="Título"
            class="form-control"
            name="titulo"
          />
          <br /><label class="form-label">Descrição</label>
          <textarea
            placeholder="Descreva aqui a sua pergunta"
            class="form-control"
            name="descricao"
          ></textarea>
          <br />
          <button type="submit" class="btn btn-success">Perguntar</button>
        </form>
      </div>
    </div>
  </div>
</body>
<%- include('partials/footer.ejs'); %>