<!DOCTYPE html>
<html lang="pt-PT">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initialscale=1.0" />
        <!-- Link para o arquivo CSS do Bootstrap -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/estilo.css" />
        <title>Guia de Perguntas - Perguntar</title>
    </head>
    <body>
        <nav class="navbar navbar-dark bg-success">
            <a class="navbar-brand" href="/">
                <img src="/img/guia.png" />
            </a>
        </nav>
        <br />
        <div class="container">
            <div class="card" id="formulario-pergunta">
            <div class="card-header">
                <h1>Realizar Pergunta</h1>
        </div>
        <div class="card-body">
            <form>
                <label class="form-label">Título</label>
                    <input type="text" placeholder="Título" class="formcontrol"
                    />
                <br />
                <label class="form-label">Descrição</label>
                    <textarea placeholder="Descreva aqui a sua pergunta" class="form-control">
                    </textarea>
                <br />
                <button class="btn btn-success">Perguntar</button>
            </form>
        </div>
</div>
</div>
</body>
    <!-- Bootstrap JS -->
    <script src="/js/bootstrap.min.js"></script>
</html>
</html>
